@model WebApp.ModelViews.UserImg


<h1>Create New Student Record</h1>

<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-6">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-bg-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-bg-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input  asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-bg-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label"></label>
                    <input type="file" asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-bg-danger"></span>
                </div>

                <div class="form-group mt-3">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>

        </div>
    </div>
    <div>
        <a class="btn btn-dark mt-3" asp-action="Student">Back To Records</a>
    </div>
</div>

