@model WebApp.Models.Product

<div class="container-fluid">
    <h1>
        Admin Penal 
    </h1>

    <p>Add More Products
    <b>
        <a asp-action="AddProduct" class="btn btn-success">
         Add
         </a>
        </b>
    </p>
    <hr />
    @* <p>
        Edit Products
        <a asp-action="EditProduct" class="btn btn-warning" asp-route-id="@Model.Id">
        Edit 
        </a>
    </p>
    <hr />
    <p>
        delete Products
        <a asp-action="DeleteProduct" class="btn btn-danger" asp-route-id="@Model.Id">
         Delete
        </a>
    </p> *@

</div>
