@{
    ViewData["Title"] = "Privacy Policy";
}
@model IEnumerable<WebApp.Models.Product>


    <div class="container">
          <div class="row">
        @foreach (var item in Model)
        {  <div class="col-sm-12 col-md-6 col-lg-4">
            <partial name="_Product" model="item"/>
            </div>
        }
          </div>
    </div>
